.layout {
  display: flex;
}

.conteudo {
  flex: 1;
  padding: var(--spacing-2xl);
  background: var(--medical-card);
}

/* TOPO */
.topo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topo-direita {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
}

.icone-topo {
  cursor: pointer;
  transition: 0.3s;
}

.icone-topo:hover {
  color: var(--medical-dark);
  transform: scale(1.1);
}

.user {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
  background: var(--medical-soft);
  padding: var(--spacing-xs) var(--spacing-md);
  border-radius: var(--border-radius-xl);
}

.user img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

/* CARDS */
.cards {
  display: flex;
  gap: var(--spacing-lg);
  margin: var(--spacing-lg) 0;
}

.card {
  background: var(--white);
  padding: var(--spacing-lg);
  border-radius: var(--border-radius-xl);
  width: 220px;
  box-shadow: var(--shadow-sm);
}

.card.alerta {
  background: #f8d7d7;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: var(--spacing-lg);
}

/* CALENDÁRIO */
.calendario {
  background: var(--medical-soft);
  padding: var(--spacing-lg);
  border-radius: var(--border-radius-xl);
}

.dias {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: var(--spacing-sm);
}

.dia {
  background: var(--white);
  padding: var(--spacing-md);
  border-radius: var(--border-radius-md);
  text-align: center;
  box-shadow: var(--shadow-sm);
}

.dia.ativo {
  background: var(--medical-dark);
  color: var(--white);
}

.bolinha {
  width: 6px;
  height: 6px;
  background: red;
  border-radius: 50%;
  margin: 5px auto 0;
}

/* LATERAL */
.proximos {
  background: #dcece4;
  padding: 20px;
  border-radius: 20px;
}

.plantao {
  display: flex;
  gap: 10px;
  background: white;
  padding: 10px;
  border-radius: 12px;
  margin-top: 10px;
}

@media (max-width: 1024px) {
  .conteudo {
    padding: 24px;
  }

  .cards {
    flex-direction: column;
  }

  .grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .topo {
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
  }

  .topo-direita {
    width: 100%;
    justify-content: space-between;
  }

  .cards {
    gap: 16px;
  }

  .plantao {
    flex-direction: column;
    align-items: flex-start;
  }
}
